* {
    margin:0;
    padding:0;
}

ul {
    list-style:none;
}

body {
    background-color:#1B2235;
    font-family:"Calibri", Arial, Helvetica, sans-serif;
}

.page-header {
    background-color:#F4F4F4;
    
	/*-webkit-box-shadow: 0 2px 8px #000;
	-moz-box-shadow: 0 2px 8px #000;
	box-shadow: 0 2px 8px #000;*/
}
    
.page-header .branding {
    overflow:hidden;
}
    
.page-header .logo {
    float:left;
}

.page-header .logo img {
    height:auto;
    width:100px;
}

.page-header .slogan {
    display:none;
}

.page-header .controls {
    text-align:right;
}

.main-navigation {
    background-color:#FFF;
    border-top: solid 1px #CCC;
    display:none;
}

.main-navigation li {
    border-bottom: solid 1px #CCC;
}

.main-navigation a {
    color:#666;
    display:block;
    line-height:3em;
    padding:0 15px;
}

.ribbon {
    background-color:red;
    border-bottom:solid 1px #FFF;
}

@media(min-width:980px) {
    .outter-column {
        margin:0 auto;
        width:980px;
    }
    
    .with-outter-border {
        border-left:solid 1px #FFF;
        border-right:solid 1px #FFF;
    }

    .page-header {
        background-color:transparent;
    }
    
    .page-header .slogan
    {
        color:#666;
        display:block;
        float:right;
        font-size:2em;
        font-style:italic;
        font-weight:bold;
        margin:5px 10px;
        text-transform:uppercase;
    }

    .page-header .controls {
        display:none;
    }
    
    .main-navigation {
        background-color:#232227;
        display:block;
        text-transform:uppercase;
    }
    
    .main-navigation ul {
        overflow:hidden;
    }
    
    .main-navigation li {
        float:left;
    }
    
    .main-navigation li:last-child {
        border-right:none;
    }
    
    .main-navigation a {
        color:#FFF;
        display:inline-block;
        line-height:2.5em;
        text-align:center;
        text-decoration:none;
        width:136px;
    }
    
    .ribbon h1 {
        color:#FFF;
        margin:0 13px;
    }
    
    .page-main-content {
        background-color:#666;
    }
    
    /* *** FOOTER *********************************************** */
    .page-footer {
        color:#FFF;
        font-size:14px;
        line-height:10px;
    }
    
    .page-footer a {
        color:#FFF;
    }
    
    .page-footer .navigation {
        background-color:#232227;
    }
    
    .page-footer .navigation ul {
        overflow:hidden;
    }
    
    .page-footer .navigation li {
        float:left;
    }
    
    .page-footer .navigation a {
        line-height:2em;
        padding:0px 15px;
    }
    
    .page-footer .copyright {
        margin:.5em 15px;
    }
}