*
{
    margin:0px;
    padding:0px;
}

body
{
    background-color:#1B2235;
    font-family:"Calibri", Arial, Helvetica, sans-serif;
    min-width:980px;
}

h1
{
    background: rgba(255, 255, 255, 0.4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#33FFFFFF);
    font-size:2.5em;
    font-weight:normal;
    line-height:1.1em;
    padding:0px 20px;
    text-transform:uppercase;
}

img
{
    border:none;
}

ul
{
    list-style:none;
}

ol
{
    padding-left:40px;
}

#Output
{
    background-color:#FFF;
    display:none;
    position:absolute;
    top:0px;
    right:0px;
    z-index:2;
}

#Header
{
    overflow:hidden;
}

#Header .logo
{
    float:left;
    margin:20px 0px 0px 10px;
}

#Header .slogan
{
    color:#666;
    float:right;
    font-size:2em;
    font-style:italic;
    font-weight:bold;
    margin:5px 10px;
    text-transform:uppercase;
}

#Header .mainNavigation
{
    background-color:#232227;
    margin-top:95px;/*70px;*/
    text-transform:uppercase;
}

#Header .mainNavigation ul
{
    overflow:hidden;
}

#Header .mainNavigation li
{
    float:left;
}

#Header .mainNavigation a
{
    color:#FFF;
    line-height:2.2em;
    padding:.5em .5em;
    text-decoration:none;
}

#Header .mainNavigation li.selected a
{
    color:#CCC;
}

#Header .mainNavigation a:hover
{
    text-decoration:underline;
}

#MainContent
{
    clear:both;
    position:relative;
}

#MainContent .content
{
    overflow:hidden;
}

/* *** Background Image Container ****************************** */
.backgroundImageContainer
{
    left:0px;
    overflow:hidden;
    position:absolute;
    top:0px;
    width:100%;
    z-index:-1;
}

.backgroundImageContainer img
{
    position:absolute;
}

/* *** TEXT BLOCK *********************************************** */
#MainContent .content .section
{
    color:#FFF;
    margin:65px 0px;
    overflow:hidden;
}

#MainContent .content .section.withTranslucentBackground
{
    background: rgba(65, 65, 65, 0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC333333, endColorstr=#CC333333);
    padding:0px 0px 30px 0px;
}

.section
{
    font-size:.9em;
    line-height:1.6em;
}

.section h3
{
    font-size:1.4em;
    font-weight:normal;
    margin-bottom:.5em;
}

.section .textBlock
{
    margin:15px 70px;
    width:640px;
}

.section .textBlock p
{
    margin-bottom:1em;
}

.section .textBlock ul
{
    list-style:disc;
    margin-bottom:1em;
    padding-left:30px;
}

.section .textBlock li
{
    margin:.1em 0px;
}

/* *** FOOTER *********************************************** */
#Footer
{
    color:#FFF;
    font-size:12px;
    line-height:10px;
}

#Footer a
{
    color:#FFF;
}

#Footer .navigation
{
    background-color:#232227;
    overflow:hidden;
}

#Footer .navigation li
{
    float:left;
}

#Footer .navigation a
{
    line-height:2em;
    padding:0px 7px;
}

#Footer .copyright
{
    clear:both;
    padding:3px 7px 5px 7px;
}