#MainContent
{
    background:url(../Images/Large/calgary-tower.jpg) repeat;
}

#MainContent
{
    border-bottom:solid 5px #F00;
    padding-bottom:70px;
}

#MainContent .company
{
    background:rgba(48, 48, 48, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC333333, endColorstr=#CC333333); /* For IE8 and earlier */
    margin-top:70px;
    padding:40px 80px;
}

#MainContent .company p
{
    color:#FFF;
    line-height:1.5em;
    margin-bottom:2em;
    width:720px;
}

#MainContent .company h3
{
    color:#FFF;
    font-weight:normal;
    line-height:1.5em;
    margin-bottom:.8em;
    width:720px;
}

#MainContent .company ul
{
    color:#FFF;
    list-style:disc;
    margin:0px 0px 2em 20px;
    padding-left:1em;
}