.contact.section
{
    background: rgba(65, 65, 65, 0.9);
    color:#FFF;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC333333, endColorstr=#CC333333);
    margin:65px 0px;
    overflow:hidden;
    padding-bottom:100px;
}

.contact.section h3
{
    font-size:1.4em;
    font-weight:normal;
}

.contact.section .officeGroup
{
    float:left;
    margin-top:15px;
}

.contact.section .officeGroup.corporate
{
    margin:15px 80px 0px 70px;
    width:300px;
}

.contact.section .officeGroup .googleMap
{
    margin-top:40px;
}

.contact.section .officeGroup .googleMap a
{
    color:#FFF;
    line-height:2em;
}

.contact.section .officeGroup .office
{
    float:left;
    font-size:.8em;
    line-height:1.6em;
    margin:2em 10px 0px 0px;
    width:250px;
}

.contact.section .officeGroup.corporate .office
{
    float:none;
}

.contact.section .officeGroup .office.newLine
{
    clear:left;
}

.contact.section .officeGroup .office .name
{
    font-size:1.25em;
}

.contact.section .officeGroup .office .email
{
    color:#F00;
}