#MainContent .content .contact.section.withTranslucentBackground
{
    padding:0px 0px 100px 0px;
}

.contact.section h3
{
    margin-bottom:0px;
}

.contact.section .officeGroup
{
    float:left;
    margin-top:15px;
}

.contact.section .officeGroup.corporate
{
    margin:15px 80px 0px 70px;
    width:300px;
}

.contact.section .officeGroup .googleMap
{
    margin-top:40px;
}

.contact.section .officeGroup .googleMap a
{
    color:#FFF;
    line-height:2em;
}

.contact.section .officeGroup .office
{
    float:left;
    margin:2em 10px 0px 0px;
    width:250px;
}

.contact.section .officeGroup.corporate .office
{
    float:none;
}

.contact.section .officeGroup .office.newLine
{
    clear:left;
}

.contact.section .officeGroup .office .name
{
    font-size:1.15em;
}

.contact.section .officeGroup .office .email a
{
    color:#F00;
    text-decoration:none;
}