.disclaimer.section
{
    /*background: rgba(65, 65, 65, 0.9);*/
    color:#FFF;
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC333333, endColorstr=#CC333333);*/
    margin:65px 0px;
    overflow:hidden;
}

.disclaimer.section .textBlock
{
    line-height:1.6em;
    margin:15px 70px;
    width:640px;
}

.disclaimer.section .textBlock h3
{
    font-size:1.4em;
    font-weight:normal;
    margin-bottom:1em;
}

.disclaimer.section .textBlock p
{
    margin-bottom:2.5em;
}

.disclaimer.section .textBlock ul
{
    list-style:disc;
    margin-bottom:2.5em;
    padding:30px;
}