.projects a {
    background: url("../Images/Large/childrens-hospital.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.alberta-childrens-hospital {
    background: url("../Images/Portfolio/childrens-hospital-3.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.edmonton-airport {
    background: url("../Images/Portfolio/edmonton-airport-1.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.boise-airport {
    background: url("../Images/Portfolio/boisi-airport-1.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.calgary-tower {
    background: url("../Images/Portfolio/calgary-tower-3.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.alberta-teacher-association {
    background: url("../Images/Portfolio/alberta-teacher-association-2.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.beverly-hills-high-school {
    background: url("../Images/Portfolio/beverly-hills-high-school-5.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.cain-library {
    background: url("../Images/Portfolio/cain-library-1.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.california-state-university-la {
    background: url("../Images/Portfolio/california-state-university-la-9.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.south-gate-high-school {
    background: url("../Images/Portfolio/south-gate-high-school-1.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.sundance {
    background: url("../Images/Portfolio/sundance-6.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.sait-polytechnin {
    background: url("../Images/Portfolio/sait-polytechnin-2.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.mount-royal {
    background: url("../Images/Portfolio/mount-royal-1.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.holy-family-cathedral {
    background: url("../Images/Portfolio/holy-family-cathedral-1.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.jayman-master {
    background: url("../Images/Portfolio/jayman-master-1.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.la-orthopedic-hospital-outpatient {
    background: url("../Images/Portfolio/la-orthopedic-hospital-outpatient-1.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.red-deer-hospital {
    background: url("../Images/Portfolio/red-deer-hospital-1.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.uci-medical {
    background: url("../Images/Portfolio/uci-medical-4.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.irvine-heritage-medical-centre {
    background: url("../Images/Portfolio/irvine-heritage-medical-centre-1.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.bmo {
    background: url("../Images/Portfolio/bmo-2.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.edmonton-accura {
    background: url("../Images/Portfolio/edmonton-accura-1.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.red-deer-hospital {
    background: url("../Images/Portfolio/red-deer-hospital-1.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.uci-medical {
    background: url("../Images/Portfolio/uci-medical-4.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.irvine-heritage-medical-centre {
    background: url("../Images/Portfolio/irvine-heritage-medical-centre-1.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.bmo {
    background: url("../Images/Portfolio/bmo-2.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

a.edmonton-accura {
    background: url("../Images/Portfolio/edmonton-accura-1.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}




