.details
{
    color: white;
    margin:150px 60px 0px 60px;
}

.details .highlight
{
    background-color:#F00;
    height:5px;
    margin-bottom:5px;
    width:35px;
}

.details .title
{
    font-size:40px;
    font-weight:bold;
    letter-spacing:-.9px;
    line-height:40px;
    padding-left:3px;
    text-shadow: 2px 2px #000;
    text-transform:uppercase;
}

.details .description
{
    font-size:15px;
    line-height:20px;
    margin:10px 0px;
}

.details .options
{
    font-size:15px;
    line-height:30px;
    margin:10px 0px;
}

.details .options li
{
    background:url(../Images/bullet-arrow.gif) no-repeat center left;
    padding-left:20px;
}

@media(min-width:980px) {
    .details
    {
        margin:150px 120px 0px 120px;
    }

    .details .title
    {
        font-size:65px;
        letter-spacing:-.9px;
        line-height:55px;
    }
}